* {
  background: #ffffff;
  }

  .cookie-container {
    font-family: sans-serif;
    padding: 32px;
    margin: 24px 0;
    line-height: 2;
    position: fixed;
    bottom: 99999px;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #808080;
    padding: 0 32px;
    transition: 400ms;
    box-shadow: 0 -2px 16px #2f3640;
  }

  .cookie-container.active {
    bottom: 0;
  }

  .cookie-container a {
    color: #4d4dff;
  }

  .cookie-btn {
    background: #ff1a1a;
    border: 0;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
  }

  .logo {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: black;
  }

  .logo a{
    text-decoration: none;
    color: black;
    backgroun: linear-gradient(135deg,  #f52f2f, #c3f33f, #1db1f5, #f57e1d);
    animatio: bg-animation 1.5s linear infinite;
    border-radius: 5px;
  }

 .navbar {
font-family: sans-serif;
width: 45px;
position: relative;
bottom: 135px;
 }

 .navbar-content {
   display: none;
   position: relative;
   top: 15px;
 }

 .navbar-content a{
   display: block;
   text-decoration: none;
   color: #000;
   font-weight: bolder;
   padding: 5px;
   font-size: 30px;
 }

 .navbar:hover .navbar-content {
   display: block;
 }

 .navbar-img {
   width: 50px;
 }

 .shop-button {
  text-align: center;
  position: relative;
  top: 200px;
  font-family: sans-serif;
  font-size: 50px;
 }

 .shop-button a{
   color: white;
   text-decoration: none;

 }

 .search-icon a{
   position: relative;
   float: right;
   bottom: 140px;
 }

/*animations*/

  @keyframes bg-animation {
    100%{
      filter: hue-rotate(360deg);
  }
}
/*Moto G4, iphone6/7/8, Galaxy S5 HORIZONTAL*/  @media only screen and (max-width:375px) {
.logo {
  text-align: center;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bolder;
  color: black;
}

.logo-img {
  width: 100px;
}

.logo a{
  text-decoration: none;
  color: black;
  backgroun: linear-gradient(135deg,  #f52f2f, #c3f33f, #1db1f5, #f57e1d);
  animatio: bg-animation 1.5s linear infinite;
}
.navbar {
font-family: sans-serif;
width: 45px;
position: relative;
bottom: 113px;
}

.navbar-content {
  display: none;
  position: relative;
  top: 15px;
}

.navbar-content a{
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  padding: 5px;
  font-size: 25px;
}


.navbar-img {
  width: 49px;
}
.shop-button {
 text-align: center;
 position: relative;
 top: 200px;
 font-family: sans-serif;
 font-size: 40px;
}

.shop-button a{
  color: white;
  text-decoration: none;
}

.search-icon {

}

.search-icon a{
  position: relative;
  float: right;
  bottom: 115px;
  padding-right: 4px;
}
.search-icon-image {
  width: 47px;
}

}

/*Moto G4, iphone6/7/8/X, Galaxy S5/Fold, pixel 2/XL WERTIKAL*/  @media only screen and (max-width:850px) and (max-height:450px) {

.logo {
  text-align: center;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bolder;
  color: black;
}

.logo a{
  text-decoration: none;
  color: black;
  backgroun: linear-gradient(135deg,  #f52f2f, #c3f33f, #1db1f5, #f57e1d);
  animatio: bg-animation 1.5s linear infinite;
}
.navbar {
font-family: sans-serif;
width: 45px;
position: relative;
bottom: 100px;
}

.navbar-content {
  display: none;
  position: relative;
  top: 15px;
}

.navbar-content a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding: 5px;
  font-size: 25px;
}


.navbar-img {
  width: 49px;
}
.shop-button {
 text-align: center;
 position: relative;
 top: 130px;
 font-family: sans-serif;
 font-size: 30px;
}

.shop-button a{
  color: white;
  text-decoration: none;
}

.search-icon {

}

.search-icon a{
  position: relative;
  float: right;
  bottom: 100px;
  padding-right: 4px;
}
.search-icon-image {
  width: 47px;
}

}
