* {
  background: black;
  }

  .cookie-container {
    font-family: sans-serif;
    padding: 32px;
    margin: 24px 0;
    line-height: 2;
    position: fixed;
    bottom: 99999px;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #808080;
    padding: 0 32px;
    transition: 400ms;
    box-shadow: 0 -2px 16px #2f3640;
  }

  .cookie-container.active {
    bottom: 0;
  }

  .cookie-container a {
    color: #4d4dff;
  }

  .cookie-btn {
    background: #ff1a1a;
    border: 0;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
  }

  .logo {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: black;
  }

  .logo a{
    text-decoration: none;
    color: black;
    background: linear-gradient(135deg,  #f52f2f, #c3f33f, #1db1f5, #f57e1d);
    animation: bg-animation 1.5s linear infinite;
  }

 .navbar {
font-family: sans-serif;
width: 45px;
position: relative;
bottom: 220px;
 }

 .navbar-content {
   display: none;
   position: relative;
   top: 15px;
 }

 .navbar-content a{
   display: block;
   text-decoration: none;
   color: white;
   font-weight: bolder;
   padding: 5px;
   font-size: 30px;
 }

 .navbar:hover .navbar-content {
   display: block;
 }

 .navbar-img {
   width: 50px;
 }

 .shop-button {
  text-align: center;
  position: relative;
  top: 200px;
  font-family: sans-serif;
  font-size: 50px;
 }

 .shop-button a{
   color: white;
   text-decoration: none;
 }

.wrapper {
  position: relative;
  text-align: center;
  top: 150px;
  font-family: sans-serif;
  background: gray;
  box-sizing: border-box;
}

.wrapper .search-input {

}

.autocom-box {
  color: #fff;
}
.icon {
  cursor: pointer;
  width: 20px;
  text-align: center;
}
input, select, textarea {
color: #fff;
}


/*animations*/

  @keyframes bg-animation {
    100%{
      filter: hue-rotate(360deg);
  }
}

@media only screen and (max-width:520px) {
  .logo {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: black;
  }
  .navbar {
 font-family: sans-serif;
 width: 45px;
 position: relative;
 bottom: 100px;
  }
}

@media only screen and (max-width:400px) {
  .logo {
    text-align: center;
    font-family: sans-serif;
    font-size: 37px;
    font-weight: bolder;
    color: black;
  }
  .navbar {
 font-family: sans-serif;
 width: 45px;
 position: relative;
 bottom: 206px;
  }

 .navbar-img {
   width: 40px;
 }

 .navbar-content a{
   display: block;
   text-decoration: none;
   color: white;
   font-weight: bolder;
   padding: 5px;
   font-size: 25px;
 }

  .shop-button {
   text-align: center;
   position: relative;
   top: 200px;
   font-family: sans-serif;
   font-size: 30px;
  }

  .shop-button a{
    color: white;
    text-decoration: none;
  }
  .search-icon a{
    position: relative;
    float: right;
    bottom: 80px;
    width:
  }
  }
}
